<h1 mat-dialog-title>{{ isEdit ? 'Edit' : 'Create' }} HTTP Monitor</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="data.name" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>URL</mat-label>
        <input [(ngModel)]="data.url" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Interval (e.g., PT60S)</mat-label>
        <input [(ngModel)]="data.checkInterval" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Timeout (e.g., PT5S)</mat-label>
        <input [(ngModel)]="data.timeout" matInput required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Notifier</mat-label>
        <mat-select [(ngModel)]="data.notifierConfig" [compareWith]="compareNotifiers" required>
            <mat-option *ngFor="let notifier of notifiers" [value]="notifier">
                {{ notifier.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.ignoreTlsErrors">Ignore TLS Errors</mat-checkbox>
</div>
<div align="end" mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Cancel</button>
    <button (click)="save()" color="primary" mat-raised-button>Save</button>
</div>
<style>
    .full-width {
        width: 100%;
    }
</style>
