# Gradle
.gradle
build/
**/build/**
**/bin/**

# IDE files
.idea/
.vscode/
.cursor/
*.iml
*.iws
*.ipr
out/

# Local files
.DS_Store
Thumbs.db

# Log files
*.log

# Frontend dependencies and build artifacts
**/node_modules/
package-lock.json
**/dist/
**/.angular/
npm-debug.log
/coverage

# JVM crash logs
hs_err_pid*
replay_pid*

*.crt
*.key
