<div class="container">
    <h1>Syslog Monitors</h1>

    <div class="actions">
        <button (click)="openDialog()" color="primary" mat-flat-button>Create New Monitor</button>
    </div>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
        </ng-container>

        <!-- Source URL Column -->
        <ng-container matColumnDef="sourceUrl">
            <th *matHeaderCellDef mat-header-cell> Source IP</th>
            <td *matCellDef="let element" mat-cell> {{ element.sourceUrl }}</td>
        </ng-container>

        <!-- Last Message Column -->
        <ng-container matColumnDef="lastMessageAt">
            <th *matHeaderCellDef mat-header-cell> Last Message</th>
            <td *matCellDef="let element" mat-cell> {{ element.lastMessageAt | date:'medium' }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="openDialog(element)" color="primary" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(element.id)" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</div>
