<div class="header-actions">
  <h2>Monitors</h2>
  <div class="button-group">
    <button mat-icon-button color="primary" (click)="loadMonitors()" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="openDialog()">Create New Monitor</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.monitor_type}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon [color]="getStatusColor(element)">
        {{getStatusIcon(element)}}
      </mat-icon>
      <span class="status-text">{{getStatusText(element)}}</span>
    </td>
  </ng-container>

  <!-- Notifier Column -->
  <ng-container matColumnDef="notifier">
    <th mat-header-cell *matHeaderCellDef> Notifier </th>
    <td mat-cell *matCellDef="let element"> {{getNotifierName(element)}} </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element"> {{getMonitorDetails(element)}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button *ngIf="isSyslogMonitor(element)" (click)="openSyslogMessages(element)" matTooltip="View Syslog Messages">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog(element)" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(element.id!)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngFor="let monitor of dataSource">
  <div *ngIf="isSyslogMonitor(monitor) && monitor.id" class="monitor-chart-section">
    <h3 class="monitor-name">{{monitor.name}} - Syslog Statistics</h3>
    <app-syslog-stats-chart [sourceId]="monitor.id"></app-syslog-stats-chart>
  </div>
</div>
