.container {
  padding: 16px;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }

  .button-group {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

table {
  width: 100%;
}

