<div class="container">
    <div class="header-actions">
        <h1>Notifiers</h1>
        <div class="button-group">
            <button mat-icon-button color="primary" (click)="loadNotifiers()" matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </button>
            <button (click)="openDialog()" color="primary" mat-flat-button>Create New Notifier</button>
        </div>
    </div>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell> Type</th>
            <td *matCellDef="let element" mat-cell> {{ element.notifier_type }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="openDialog(element)" color="primary" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(element.id)" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</div>
