<div class="container">
    <div class="header-actions">
        <h1>Notifications</h1>
        <button mat-icon-button color="primary" (click)="loadMessages()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let element" [ngClass]="'status-' + element.status.toLowerCase()" mat-cell>
                <mat-icon>{{ getStatusIcon(element.status) }}</mat-icon>
                {{ element.status }}
            </td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="message">
            <th *matHeaderCellDef mat-header-cell> Message</th>
            <td *matCellDef="let element" mat-cell> {{ element.message }}</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th *matHeaderCellDef mat-header-cell> Last Update</th>
            <td *matCellDef="let element" mat-cell> {{ element.updatedAt | date:'medium' }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="retry(element.id)" [disabled]="element.status !== 'FAILED'" color="primary"
                        mat-icon-button>
                    <mat-icon>replay</mat-icon>
                </button>
                <button (click)="delete(element.id)" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</div>
