.container {
  padding: 16px;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

table {
  width: 100%;
}

.status-delivered {
  color: #98971a; // green
}

.status-failed {
  color: #cc241d; // red
}

.status-created {
  color: #d79921; // yellow
}

td.mat-cell {
  display: flex;

  align-items: center;
}

mat-icon {
  margin-right: 8px;
}

